<div class="row gutter-0">
    <div class="container-fluid">
        <div class="container">
                <br>
                <p>For livestreaming run `nodemon server.js`</p>
                <p>This would stream a local mp4 file using ffmpeg to our alibaba server and show livestream below.</p>
                <p><b>Server:</b> rtmp://video-center-sg.alivecdn.com/AppName</p>
                <p><b>Key:</b> StreamName?vhost=livevideo.wearexenon.com</p>
                <p>The livestream would show below.</p>
        </div>
        <div class="row gutter-0">
            <div class="col-md-6">
                <video autoplay="true" id="videoElement"></video>
            </div>
            <div class="col-md-6">
                <video id="video" controls></video>
            </div>
        </div>
    </div>
</div>